body{
    background-color: gray;
    
}
#boasvindas{
    border: solid 10px black;
    background-color: white;
    transition-timing-function: ease;
    transition-duration: 2s;
    text-align: center;
    animation-name: animação;
    animation-duration: 6s;   
    animation-iteration-count: infinite;
}
@keyframes animação{
    0% {background-color: white;color: black}
    25% {background-color: black;color: white}
    50% {background-color: white;color: black}
    75%{background-color: black;color: white}
    100%{background-color: white;color: black}
}

#nome{
    text-align: center;
}
#idade{
    text-align: center;
}
#pt2{
    float: right;
    font-size: xx-large;
}